h6.mb-2.text-muted.card-subtitle span{
    color: #44d7b6 ;
}

i.fa-solid.fa-location-crosshairs {
    margin-right: 10px;
}

h6.mb-2.text-muted.card-subtitle{
    margin: 1rem 0 !important;
}

p{
    margin: 1rem 0 !important;
    opacity: 0.5;
}

.product-col {
    display: flex;
    align-items: stretch;
}

.product-card{
    border: none !important;
    border-radius: 5px !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.product-card .card-body {
    flex: 1;
}

.star-icons i{
    color: yellow;
}


.product-card.bounce {
    animation: bounce 1s alternate;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

.discount{
    text-decoration: line-through;
    color: #969ba1 !important;
    font-size: 12px;
}